/*

How to use :root
https://www.digitalocean.com/community/tutorials/css-root-pseudo-class



*/




:root {
    /* colors */
    --text-color: #000000;
    --bg-basic: #f5fafa;
    

    /* border radius */
    --radius-sm: 1em;
    --radius-md: 2em;
    --radius-round: 7em;  

  
   /* fonts */
    --body-fonts: "Helvetica", "Arial", sans-serif;
}


body {
    color: var(--text-color);
    background-color: var(--bg-basic);
    font-family: var(--body-fonts);
}
