/* || GENERAL STYLES */

* {
    box-sizing: border-box;
  }

body{
    background-color: #FDF8EE;
    color: #090C08;
    font-family: 'karla', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}

main{
    padding-top: 110px;
}

header{
    background-color: #FDF8EE;
    margin: 0px;
    padding: 16px 16px 0px 16px;
    position: fixed;
    border-radius: 0 0 8px 8px;
    width: 100%; 
	height: [object Object]px; 
	box-shadow: 0 2px 4px #C7C49C ; 
	-webkit-box-shadow: 0 2px 4px #C7C49C  ; 
	-moz-box-shadow: 0 2px 4px #C7C49C  ; 
}

a{
    color: #090C08;
    text-decoration: none;
    font-weight: 700;
}
a:visited{
    color: #55554F;

}

a:hover, a:focus, a:active{
    color: #767522;
}

h1, h2, h3, h4 {
    line-height: 1.3;
  }

h1 {
    font-size: 1em;
    font-weight: 700;
  }
  
h2 {
    font-size: 1.2em;
    font-weight: 700;
  }
  
h3 {
    font-size: 1em;
    font-weight: 600;
  }
img{
width: 100%;
border-radius: 8px;

}

nav{
    display: inline-block;
}

nav>ul{
list-style: none;
padding: 0;
}

nav>ul>li{
    display: inline-block;
    padding: 0 16px;
}

/* || LAYOUT STYLES */

.div{
    margin: 16px;
}

.row{
    margin: 25px 0;
}

/* || SIDE WIDE STYLES */

#logo{
    font-family: 'oswald', sans-serif;
    color: #767522;
    font-weight: 400;
    font-size: 1.3em;
}

.behance{
    text-decoration: underline;
    text-decoration-color: #55554F;
    font-size: 0.8em;
    display: block;
}

.button{
    display: inline-block;
    border-radius: 8px;
    border: 3px solid #767522;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 16px 0;
    transition: 0.5s border-color;
}

.button:hover, .button:active, .button:focus{
    color: #090C08;
    border-color: #090C08;
}

/* || INDEX STYLES */

#hero{
    background-color: #C7C49C;
    border-radius: 8px;
    padding: 10px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

#work{
    margin: 30px 0;
}
#work.row{
    margin: 24px 0;
}

.animation{
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {fill: #fcffad;}
    50% {fill: #edc655;}
    100% {fill: #f76414;}
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(30px,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 20s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(160px, 48px);}
    to {transform: translate(500px,48px);}
  }

  .cloud-back {
    animation: 24s cloud-move-reverse infinite alternate linear;
  }

/* || ABOUT STYLES */

.me{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

#skills{
    background-color: #C7C49C;
    padding: 24px;
    border-radius: 8px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* || FOOTER STYLES */

#footer{
    
    background-color: #767522;
    color: #FDF8EE;
}

#foot{
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.email{
    display: inline-block;
    color: #090C08;
    background-color: #FDF8EE;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    margin: 16px 0;
    transition: 0.3s box-shadow;
}

.email:hover, .email:active, .email:focus{
    color: #090C08;
    box-shadow: 4px 4px 4px #575619 inset;
}

.icon{
    width: 30px;
    margin: 12px ;
}

.icon:hover, .icon:active, .icon:focus{
    width: 34px;
    margin: 10px;
}

.up{
    color: #FDF8EE;
    text-decoration: underline;
    text-decoration-color: #FDF8EE;
    font-size: 0.7em;
    
}

.up:hover, .up:active, .up:focus, .up:visited{
    font-size: 0.8em;
    color: #FDF8EE;
}

#copyright{
    font-size: 0.7em;
    font-weight: 400;
    text-align: center;
}

.aligncenter{
    text-align: center;
}

/* ==============================
Medium devices (540px and larger)
================================= */
@media only screen and (min-width: 540px) {

    .me{
        width: unset;
        display: block;
        margin-left: unset;
        margin-right: unset;
        margin-bottom: unset;
    }

    [class*="col-"] {
        float: left;
      }

    .row::after {
        content: "";
        clear: both;
        display: table;
      }

    .col-md-4 {
        width: 50%;
        padding-top: 24px;
        padding-right: 40px;
      }

    .col-md-6{
        width: 50%;
    }

    .col-md-8 {
        width: 50%;
      }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

    body{
        font-size: 18px;
    }

    h3{
        margin-top: unset;
    }
    header{
        text-align: unset;
        padding: 16px 32px 0px 32px;
    }
    #logo{
        font-size: 1.5em;
        width: auto;
    }
    nav {
        width: auto;
        float: right;
      }
    
    .div{
        margin: 32px;
    }

    .me{
        width: unset;
        display: block;
        margin-left: unset;
        margin-right: unset;
        margin-bottom: unset;
    }

    [class*="col-"] {
        float: left;
      }

    .row::after {
        content: "";
        clear: both;
        display: table;
      }

    .col-md-4 {
        width: 33.34%;
        padding-top: 24px;
        padding-right: 40px;
      }
    
    .col-mdl-4 {
        width: 33.34%;
      }

    .col-mdl-6{
        width: 50%;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .col-md-6{
        width: 50%;
    }

    .col-md-8 {
        width: 66.66%;
      }

    #skills{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    .div{
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    body{
        font-size: 22px;
    }

    h1{
        font-size: 1.2em;
    }

    main{
        padding-top: 160px;
    }

    #hero{
        max-width: 600px;
        margin-bottom: 80px;
    }

    #skills{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

    body{
        font-size: 24px;
    }

    main{
        padding-top: 190px;
    }

    .div{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}